@use "./reset" as *;

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 3px #ccc;
}

.toggler-button {
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 26px;
  align-self: center;
  .bar {
    background-color: #00042d;
    width: 100%;
    height: 3px;
    border-radius: 10px;
  }
}

.navLeft {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: right;
  gap: 100px;
  .navList {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-right: 20px;
    margin-left: 100px;
    ul {
      font-size: 14px;
      line-height: 16px;
      gap: 40px;
      padding: 10px;
      .downwardScroll {
        height: 10.000000000000009px;
        width: 6.000000000000005px;
      }
    }
  }
}

.buttons {
  display: flex;
  right: 20%;
  gap: 20px;
}
.loginButton {
  width: 75.5px;
  height: 40px;
  background: none;
  border: 1px solid rgba(0, 4, 45, 0.8);
  border-radius: 4px;
}

.getStartedButton {
  // position: fixed;
  width: 100px;
  height: 40px;
  color: white;
  background: #00042d;
  border: none;
  border-radius: 4px;
}

@media (max-width: 720px) {
  .toggler-button {
    position: absolute;
    display: flex;
    top: 1rem;
    right: 2rem;
    align-self: center;
  }

  .navLeft {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    .navList {
      margin: 0px;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }
  }

  .navLeft.active {
    display: flex;
  }

  .nav {
    // justify-content: center;
    align-content: left;
    padding: 5px;
    .jujuLogo {
      align-content: left;
    }
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
